<a class="nav-link" href="/home">Assignment 2,Jaimini Patel,301127652,25th Oct,2020</a>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="images/logo.jpg" alt="Image placeholder" width="50" height="50">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/project">Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
  </ul>
</nav>