<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="about-me pb-top">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="about-me-img mb-30">
                        <img src="images/mypic.jpg" alt="Image placeholder" width="320" height="400">
                    </div>
                </div>
                
                <div class="col-lg-5 col-md-6">
                    <div class="about-me-caption">
                        <h2>Jaimini Patel</h2> 
                        <p class="pb-30">I am Jaimini Patel. I am from Gujarat, India. I have completed my Bachelor's in Computer Engineering. I am currently in Toronto, Canada. </p>
                        <h5>Little bit more about me...</h5>
                        <p>I am a very jolly person. I like to make new friends and know about them. I like travelling and exploring nature. Also I like cooking and so I try new recepies and learn different items. My weakness is that I easily trust people and sometimes I feel that it was wrong.</p>
                        <p>Here's a link to my resume... <a href="images/Resume.pdf" target="_blank">Resume</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>