<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <section class="services-area  services-padding">
        <div class="container">
           <div class="project-heading mb-35">
                <div class="row align-items-end">
                    <div class="col-lg-6">
                        <div class="section-tittle">
                            <h2>Web Application Development</h2>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Welcome to my Web Application Development Assignment 2!!!</p>
                        <p>Hello!!! My name is Jaimini Patel. I am in my first semester of Software Engineering Technician FT program(301127652).</p>
                        <p>My main goal is to become a software engineer.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>