<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <section class="services-area  services-padding">
        <div class="container">
           <div class="project-heading mb-35">
                <div class="row align-items-end">
                    <div class="col-lg-6">
                        <div class="section-tittle">
                            <h2>My Projects</h2>
                        </div>
                    </div>
                    <div>
                        <img src="http://localhost:8080/images/appointment.jpg" alt="appointment" width="100" height="100">
                        <p>I did one project based on hospital appointment system. It was about taking appoitment online using the website. The project was like the patient can find the best doctor by the viewing the specialization of the doctor, view the schedule of the doctor and take an appointment as per given date and time of the doctor, doctor can add medical prescription, also lab technician can directly upload the lab results to the patient’s account. So, patient, doctor and all the important user of system can easily interact and patient can get best treatment and service from that particular Hospital. Also, patient’s history can be found out by opening the account history of the patient.</p>
                    </div>
                    <div>
                        <img src="http://localhost:8080/images/sign.jpg" alt="sign" width="100" height="100">
                        <p>I also did a small project based on signature verification. That project was related to signature in which it checks the acceleration of doing the signature , how much weight is applied and in what scale it is done in concern with the axis.</p>
                    </div>
                    <div>
                        <img src="http://localhost:8080/images/organ.jpg" alt="donation" width="100" height="100">
                        <p>Lastly, I worked on a project which was about organ donation. That project was related to donation of organs. It shows which person is registered to donate the organ in near by area. Also it shows how many people are there around by them who want to donate organ or who are in need of organ.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>